body {font-size:0.8rem;margin:0;padding:0;}

#topbuttons {
	margin-bottom: 1rem;
	padding-left:1.8rem;
}
#substancesurvey_list tbody tr[role="row"] {
	cursor: pointer;
}

#content-wrapper {
	margin-top: 2rem;
}

.survey-details {
	margin-top: -0.75rem;
}

.survey-details td, td[colspan="8"] {
	cursor: disabled !important;
	background-color: #F1F8E9;
	z-index: 100;
}
.details-table {
	float: left;
	width:33%;
}