{% extends 'base.html' %}
{% load static %}

{% block extendhead %}
<link rel="stylesheet"
	  href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	  href="{% static 'css/jquery-ui.min.css' %}" />
{% endblock extendhead %}

{% block content %}

<div class="container-fluid" id="topbuttons">
	<a href="{% url 'add_substance' %}" class="btn btn-sm btn-primary">Add new substance</a>
</div>
<div class="container-fluid">
	<table id="substancesurvey_list" class="table">
		<thead>
			<tr>
				<th>Added</th>
				<th>Origin</th>
				<th>Country</th>
				<th>City</th>
				<th>Date</th>
				<th>Substance</th>
				<th>Alias</th>
				<th>Kinds</th>
				<th>Observations</th>
			</tr>
		</thead>
	</table>
</div>
{% endblock content %}

{% block extendfoot %}
<script
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script
	src="{% static 'js/jquery-ui.min.js' %}"></script>
<script>

function format ( data ) {

    return '<div class="survey-details">'+
    			'<table class="table details-table" cellpadding="5" cellspacing="5" border="0">'+
	                '<tr>'+
	                    '<td style="width:100px;"><b>Origin:</b> </td>'+
	                    '<td>'+data.origin+'</td>'+
	                '</tr>'+
	                '<tr>'+
	                    '<td><b>Source:</b> </td>'+
	                    '<td>'+data.source+'</td>'+
	                '</tr>'+
	                '<tr>'+
	                    '<td><b>Price:</b> </td>'+
	                    '<td>'+data.price+'</td>'+
	                '</tr>'+
            	'</table>'+
    			'<table class="table details-table" cellpadding="5" cellspacing="5" border="0">'+
	                '<tr>'+
	                    '<td><b>Apperance:</b> </td>'+
	                    '<td>'+data.apperance+'</td>'+
	                '</tr>'+
	                '<tr>'+
	                    '<td><b>Color:</b> </td>'+
	                    '<td>'+data.color+'</td>'+
	                '</tr>'+
	                '<tr>'+
	                    '<td><b>Test methods:</b> </td>'+
	                    '<td>'+data.testmethods+'</td>'+
	                '</tr>'+
            	'</table>'+
            '</div>'+
            '<img class="details-table" src="'+data.image+' style="height:130px" />'
}

$(document).ready(function() {
	$( document ).tooltip({
		tooltipClass:'tooltip'
	});
    var table = $('#substancesurvey_list').DataTable({
    	"order": [[ 0, "desc" ]],
		"ajax": {
			"url": "{% url 'substancesurver_list_api' %}",
			"type": "GET",
			"dataSrc": ""
		},
		"aoColumns": [
			{ "mData": "added" },
			{ "mData": "origin" },
			{ "mData": "country" },
			{ "mData": "city" },
			{ "mData": "date" },
			{ "mData": "substance" },
			{ "mData": "alias" },
			{ "mData": "kinds" },
			{ "mData": "observations" },
		],
		"aoColumnDefs": [
			// {
			// 	"aTargets": [ 9 ],
			// 	"mData": "origin",
			// 	"mRender": function ( data, type, full ) {
			// 		return '<a class="show-details" href="#">Show</a>';
			// 	}
			// }
		]
    });

    // table.on('click', 'td a.show-details', function () {
    table.on('click', 'td', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
         if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );

});
</script>
{% endblock extendfoot %}