{% extends 'base.html' %}

{% load static rest_framework %}

{% block extendhead %}
<link rel="stylesheet"
	  href="{% static 'css/selectize.bootstrap3.css' %}" />

{% endblock extendhead %}

{% block content %}
{{ form }}
{% endblock content %}

{% block extendfoot %}
<script
	src="{% static 'js/selectize.min.js' %}"></script>
<script>
$(document).ready(function() {

	$('.fss').selectize({
		delimiter: ',',
		valueField: 'value',
		labelField: 'text',
		persist: true,
		preload: true,
		create: function(input) {
			return {
				value: input,
				text: input
			}
		},
		render: {
			option: function (item, escape) {
				return '<div>' + item.text + '</div>';
			}
		},
		load: function (query, callback) {
			$.ajax({
				// Wyszukaj nazwę dla modelu w api.
				url: '/api/'+$(this)[0]['$input'][0]['name']+'/',
				type: 'GET',
				dataType: 'json',
				error: function () {
					callback();
				},
				success: function (res) {
					callback(res);
				}
			});
		}
	});


});

	// $('.fss').fastselect();
</script>
{% endblock extendfoot %}